# 1. Object types in Python

Every object in python has a type.
For example,  the object `'Hello world'` is text, also known as a string.

Object types include: 
- strings (ie. text)
- integers (ie. whole numbers, both positive and negative)
- floating point values (ie. decimal numbers)
- booleans values (i.e. True or False)

Objects can have things done to them, ie. operations can be performed on them, such as addition.

## 1.1 Strings

For example, we can add two strings together:

In [1]:
# The first string:
'Hello'

'Hello'

In [2]:
# The second string:
'world'

'world'

In [3]:
# Add them together
'Hello'+'world'

'Helloworld'

In [4]:
# print the string (and add a space between words)
print('Hello '+'world')

Hello world

Apart from the space between words, what is the difference between the outputs from the last two cells?

### Strings and quotation marks:

FAQ:

Do we have to use single quotes to indicate a string?  Will double quotes (`""`) work as well?

Answer: Yes. Single quotes, double quotes, and even triple quotes (`'''something'''` or `"""something"""`) tell Python that you want a string. When to use one or the other depends on what you are trying to do; check the exercises below for more on this.

A word of caution: don't get in the habit of using triple quotes for strings, as these should be reserved for docstrings. As previously mentioned, it is not necessary to know exactly what these are, just know that these are important in other aspect of Python, and it wouldn't be a good idea to mix them with single and double quotation marks.

You can use double quotes within single quotes and the other way around:

In [5]:
print("Single 'quotes' can be used within double quotes.")
print('Double "quotes" can be used within single quotes.')

Single 'quotes' can be used within double quotes.
Double "quotes" can be used within single quotes.

### Exercise 1.1.1:

Try printing strings surrounded by either single quotes or double quotes.

In [6]:
# Exercise 1.1.1

As explained above, you can use the two types of quotation marks to print quotation marks within a string

For example, to print: Just say "No!"

In [7]:
print('Just say "No!"')
print('Just say "No"!')

Just say "No!"
Just say "No"!

You can also achieve the same effect with single quotes by using a backslash `\` before the quotation mark you wish to be printed.  This "escapes" the single quote mark from being interpreted as a quotation mark at the end of the string.

For example:

In [8]:
print('Just say \'No!\'')

Just say 'No!'

### Exercise 1.1.2:

Print the following string twice, first using single quotes at the start and end of the string, then double quotes:

`I can't be bothered with this "exercise"`

In [9]:
# Exercise 1.1.2

More types of quotation marks...
If you want to include more than one line in your string, you can:
- use a 'new line character' in your string - this character looks like: `\n`
- use triple quotes (`'''` or `"""`) at either end of your string

In [10]:
print('Here is an example of using a new line character\nto print a second line.')

Here is an example of using a new line character
to print a second line.

In [11]:
print('''Or you can just use triple quotes at either end of the string
and start a new line as you type.''')

Or you can just use triple quotes at either end of the string
and start a new line as you type.

### Review:

We have covered:
- strings, surrounded by either 'single quotes' or "double quotes"
- printing strings
- adding strings together
- quotes within a string, either using double or single quotes, or using `\`
- inserting a new line into your string, with a new line character, `\n` , or '''triple quotes'''

## 1.2 Integers

What about the other types mentioned, ie. integers (whole numbers) and floating point values (decimals)?

We can also perform operations on integers and floating point values, in all the ways you might expect.

Adding and subtracting integers:

In [12]:
2 + 4

6

In [13]:
5-3

2

In [14]:
7- 10

-3

(Note that it doesn't matter if you use spaces between numbers and symbols)

Multiplying (we use the `*` sign to multiply)

In [15]:
2 * 5

10

Dividing (use the `/` sign):

In [16]:
4 / 2

2.0

Note that when dividing integers, a floating point type value (i.e. a decimal) will be returned. It is important to note
that in previous versions of python (v2.7 and lower) only integer types (i.e. whole numbers) would be returned, resulting
in a rounding down of values. This very specific difference between versions is a frequent source of errors when porting python code. If integer division (i.e. a division that returns only whole numbers) is required, the `//` operation can be used instead.

for example:

In [17]:
# This division will return a non-whole number result (float type)
7 / 4

1.75

In [18]:
# With integer division a whole number is returned (same as using '/' in python 2.7 and lower)
7 // 4

1

Powers, eg. $4^2$ , (using 2 consecutive `*` symbols):

In [19]:
4 ** 2

16

Modular arithmetic (or integer remainders), is done using the `%` symbol:

In [20]:
12 % 4

0

In [21]:
13 % 4

1

In [22]:
17 % 4

1

#### Review:

We have covered:
- addition `+`
- substraction `-`
- multiplication `*`
- division and differences from older versions of python (`/` and `//`)
- power operations `**`
- modular arthmetic `%`

In [23]:
# Possible exercise: how big can a python integer be?
# hint: this is a trick question

## 1.3 Floating point values

As introduced in section 1.2, a floating point value is a decimal, and python can tell we are using floating points when we use a decimal point in the number.

For example:

In [24]:
8.23

8.23

In [25]:
5.0

5.0

We don't necessarily need to put any numbers after the floating point, eg, 5. is the same as 5.0:

In [26]:
5.

5.0

We can also perform operations on floating point values, like before.

### Exercise 1.3.1

Find:
    
- 8.3 + 4
- 5.1 x 2.5
- 10 / 3 (the answer should be a floating point value)
- $8.1^3$

In [27]:
# Exercise 1.3.1 a)

In [28]:
# Exercise 1.3.1 b)

In [29]:
# Exercise 1.3.1 c)

In [30]:
# Exercise 1.3.1 d)

### Floating point precision

Floating point arithmetic is not exact, because computers work in base 2, which means that numbers like `1/10` are not stored exactly.

Usually this is not a problem - floating point values are correct to ~17 significant figures on modern computers - however, it can mean that small errors creep in:

In [31]:
0.1 + 0.1 + 0.1

0.30000000000000004

### Exercise 1.3.2

Find $(1/10)^5$

How accurate is the answer?

In [32]:
# Exercise 1.3.2

### Review

- Numbers in python are integers or floating points (specified by using a decimal point, `.`, in the number)
- Floating point values are specified by using a decimal point (`.`) in the number
- Can also perform addition, subtraction, multiplication, division and powers with floating points
- Precision can be an issue with floating point values

## 1.4 Other types of objects

We can also group strings, integers and floating point values into new objects:
- list, surrounded by square brackets, `[ ]`, succesive entries are separated by `,`.  These are used a lot.
- tuple, surrounded by round brackets, `( )`, succesive entries are separated by `,`. Like a list except that, once specified, its elements can't be changed.
- dictionary, surrounded by curly brackets, `{ }`, succesive entries are separated by `,`. These are lists of pairs, where each element in a pair is separated by `:`.

A list of integers:

In [33]:
[1, 6, 3, 0]

[1, 6, 3, 0]

A tuple of integers:

In [34]:
(6,1,3)

(6, 1, 3)

A dictionary, eg. of exam scores for each person in a class (as string-float pairs):

In [35]:
{'Andy':2.0, 'Vivek':6.1, 'Sian':9.5, 'Chen':3.6}

{'Andy': 2.0, 'Vivek': 6.1, 'Sian': 9.5, 'Chen': 3.6}

There are also many operations we can perform on these object types, eg. adding two lists.

The types of operation you can perform will depend on the type of object (eg. try adding two dictionaries).

We will come back to lists, tuples and dictionaries later on.

## 1.5 Checking what type of object we have

We can check what type of object we are dealing with using the `type()` function.

For example:

In [36]:
type('what type of object is this?')

str

In [37]:
type(4.)

float

In [38]:
type(3/4)

float

In [39]:
type([8,1])

list